In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
d = {'a':7, 'b':9, 'C':12} # zodynas
d1 = {'a':5, 'b':11, 'C':15} # zodynas
data =[d,d1] # zodynu sarasas

df = pd.DataFrame(data=data)
df

   a   b   C
0  7   9  12
1  5  11  15

In [13]:
d = {'AB':np.random.rand(10), 'BC':np.random.randint(10,100,10)} # zodynas, kurio elementai yra generuojamas duomenu masyvas

df = pd.DataFrame(data=d)
df

         AB  BC
0  0.700295  90
1  0.419280  59
2  0.139355  40
3  0.326352  74
4  0.923342  55
5  0.240497  89
6  0.073854  90
7  0.138278  18
8  0.313407  99
9  0.415889  89

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

import time
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup

In [11]:
puslapio_nr = [2,3,4,5,6]

for puslapis in puslapio_nr:
    url = f'https://www.aruodas.lt/butai/puslapis/{puslapis}'
    opcijos = Options()
    driver = webdriver.Chrome(options=opcijos)
    driver.get(url)
    time.sleep(35)
    source = driver.page_source
    data = []
    bs = BeautifulSoup(source, 'html.parser')
    ResultSet = bs.find_all('div', {'class':'advert-flex'})
    print(len(ResultSet))

    for skelbimas in ResultSet:
        try:
            price_element= skelbimas.find('div', {'class':'price'})
            tag = price_element.find('span')
            kaina = tag.contents[0]

            kvm_kaina_element= skelbimas.find('div', {'class':'price'})
            tag1 = kvm_kaina_element.find('span', {'class':'price-pm-v2'})
            kvm_kaina =tag1.contents[0]

            address_element = skelbimas.find('div', {'class':'list-adress-v2'})
            tag2 = address_element.find('h3').find('a', href=True)
            linkas = tag2['href']
            tekstas = tag2.contents

            plotas_element= skelbimas.find('div', {'class':'list-AreaOverall-v2 list-detail-v2'})
            plotas =plotas_element.contents[0]

            kambasiu_sk_element= skelbimas.find('div', {'class':'list-RoomNum-v2 list-detail-v2'})
            kambariu_sk =kambasiu_sk_element.contents[0]

            f = ''
            for i in kaina:
                f = f + str(i).strip()
            kaina = f.replace('€', '')

            f1 = ''
            for a in kvm_kaina:
                f1 = f1 + str(a).strip()
            kvm_kaina = f1[:-4]

            f2 = ''
            for i in tekstas:
                f2 = f2 + str(i).strip()
            tekstas = f2.replace('<br/>', ', ')

            f3 = ''
            for a in plotas:
                f3 = f3 + str(a).strip()
            plotas = f3

            f4 = ''
            for i in kambariu_sk:
                f4 = f4 + str(i).strip()
            kambariu_sk = f4

            d = {'buto _kaina':kaina, 'kvadrato_kaina': kvm_kaina, 'adresas':tekstas, 'plotas':plotas, 'kambariu_skaicius':kambariu_sk} # pasidarome zodyna su duomenimis
            data.append(d)
            print(d)

        except Exception as klaida:
            print(klaida)

driver.close() 

df = pd.DataFrame(data=data)
df.to_csv('Aruodas 2024_04_22.csv', header=True, index=False, sep=';') # sukeliam sugeneruotus duomenis i sukuriama faila

27
'NoneType' object has no attribute 'find'
'NoneType' object has no attribute 'find'
{'buto _kaina': '199000', 'kvadrato_kaina': '4095', 'adresas': 'Palanga, Palanga, Vanagupės g.', 'plotas': '48.59', 'kambariu_skaicius': '2'}
{'buto _kaina': '240529', 'kvadrato_kaina': '3733', 'adresas': 'Vilnius, Žirmūnai, Kareivių g.', 'plotas': '64.44', 'kambariu_skaicius': '3'}
{'buto _kaina': '200860', 'kvadrato_kaina': '3453', 'adresas': 'Vilnius, Burbiškės, Burbiškių g.', 'plotas': '58.17', 'kambariu_skaicius': '3'}
{'buto _kaina': '139900', 'kvadrato_kaina': '2439', 'adresas': 'Vilnius, Antakalnis, Duburio g.', 'plotas': '57.37', 'kambariu_skaicius': '2'}
{'buto _kaina': '47500', 'kvadrato_kaina': '2317', 'adresas': 'Kaunas, Vilijampolė, Raudondvario pl.', 'plotas': '20.5', 'kambariu_skaicius': '2'}
{'buto _kaina': '390000', 'kvadrato_kaina': '6725', 'adresas': 'Vilnius, Senamiestis, Teatro g.', 'plotas': '57.99', 'kambariu_skaicius': '2'}
{'buto _kaina': '168500', 'kvadrato_kaina': '2462', 'adresas': 'Vilnius, Antakalnis, Duburio g.', 'plotas': '68.44', 'kambariu_skaicius': '3'}
{'buto _kaina': '435000', 'kvadrato_kaina': '5959', 'adresas': 'Palanga, S. Daukanto g.', 'plotas': '73', 'kambariu_skaicius': '4'}
{'buto _kaina': '312000', 'kvadrato_kaina': '6933', 'adresas': 'Palanga, S. Daukanto g.', 'plotas': '45', 'kambariu_skaicius': '3'}
{'buto _kaina': '121900', 'kvadrato_kaina': '2651', 'adresas': 'Klaipėda, Mažasis kaimelis, Senvagės g.', 'plotas': '45.99', 'kambariu_skaicius': '2'}
{'buto _kaina': '199000', 'kvadrato_kaina': '2647', 'adresas': 'Kaunas, Žaliakalnis, Žeimenos g.', 'plotas': '75.19', 'kambariu_skaicius': '3'}
{'buto _kaina': '127750', 'kvadrato_kaina': '3901', 'adresas': 'Vilnius, Šnipiškės, Kalvarijų g.', 'plotas': '32.75', 'kambariu_skaicius': '1'}
{'buto _kaina': '324000', 'kvadrato_kaina': '5438', 'adresas': 'Vilnius, Šnipiškės, Konstitucijos pr.', 'plotas': '59.58', 'kambariu_skaicius': '2'}
{'buto _kaina': '100737', 'kvadrato_kaina': '1564', 'adresas': 'Kaunas, Žaliakalnis, Žemaičių g.', 'plotas': '64.42', 'kambariu_skaicius': '2'}
{'buto _kaina': '195000', 'kvadrato_kaina': '952', 'adresas': 'Kaunas, Vaišvydava, Tursono g.', 'plotas': '204.84', 'kambariu_skaicius': '4'}
{'buto _kaina': '170000', 'kvadrato_kaina': '4545', 'adresas': 'Klaipėda, Senamiestis, Teatro g.', 'plotas': '37.4', 'kambariu_skaicius': '1'}
{'buto _kaina': '179000', 'kvadrato_kaina': '2183', 'adresas': 'Palanga, Palanga, Saulėlydžio g.', 'plotas': '82', 'kambariu_skaicius': '3'}
{'buto _kaina': '108000', 'kvadrato_kaina': '2616', 'adresas': 'Klaipėda, Mokykla, Mokyklos g.', 'plotas': '41.29', 'kambariu_skaicius': '2'}
{'buto _kaina': '690000', 'kvadrato_kaina': '6635', 'adresas': 'Vilnius, Paupys, Aukštaičių g.', 'plotas': '104', 'kambariu_skaicius': '4'}
{'buto _kaina': '173000', 'kvadrato_kaina': '3604', 'adresas': 'Palanga, Vėžių g.', 'plotas': '48', 'kambariu_skaicius': '2'}
{'buto _kaina': '249000', 'kvadrato_kaina': '4058', 'adresas': 'Vilnius, Naujininkai, Kapsų g.', 'plotas': '61.36', 'kambariu_skaicius': '3'}
{'buto _kaina': '160000', 'kvadrato_kaina': '3478', 'adresas': 'Palanga, Palanga, Vėžių g.', 'plotas': '46', 'kambariu_skaicius': '2'}
{'buto _kaina': '73000', 'kvadrato_kaina': '2808', 'adresas': 'Kaunas, Žaliakalnis, Žalioji g.', 'plotas': '26', 'kambariu_skaicius': '2'}
{'buto _kaina': '77000', 'kvadrato_kaina': '2406', 'adresas': 'Kaunas, Žaliakalnis, Mituvos g.', 'plotas': '32', 'kambariu_skaicius': '2'}
{'buto _kaina': '75900', 'kvadrato_kaina': '3148', 'adresas': 'Vilnius, Naujamiestis, T. Ševčenkos g.', 'plotas': '24.11', 'kambariu_skaicius': '2'}
27
'NoneType' object has no attribute 'find'
'NoneType' object has no attribute 'find'
{'buto _kaina': '145000', 'kvadrato_kaina': '2599', 'adresas': 'Kaunas, Kalniečiai, Kalniečių g.', 'plotas': '55.8', 'kambariu_skaicius': '2'}
{'buto _kaina': '150000', 'kvadrato_kaina': '2921', 'adresas': 'Vilnius, Pašilaičiai, Dociškių g.', 'plotas': '51.36', 'kambariu_skaicius': '2'}
{'buto _kaina': '215000', 'kvadrato_kaina': '4285', 'adresas': 'Klaipėda, Centras, Bijūnų g.', 'plotas': '50.18', 'kambariu_skaicius': '2'}
{'buto _kaina': '88000', 'kvadrato_kaina': '2350', 'adresas': 'Klaipėda, Šauliai, Ragainės g.', 'plotas': '37.44', 'kambariu_skaicius': '2'}
{'buto _kaina': '103000', 'kvadrato_kaina': '2512', 'adresas': 'Klaipėda, Centras, Danės g.', 'plotas': '41', 'kambariu_skaicius': '2'}
{'buto _kaina': '315000', 'kvadrato_kaina': '4011', 'adresas': 'Vilnius, Baltupiai, Kazio Ulvydo g.', 'plotas': '78.53', 'kambariu_skaicius': '3'}
{'buto _kaina': '38940', 'kvadrato_kaina': '1770', 'adresas': 'Palanga, Šventoji, Mėguvos g.', 'plotas': '22', 'kambariu_skaicius': '1'}
{'buto _kaina': '182117', 'kvadrato_kaina': '4137', 'adresas': 'Vilnius, Naujamiestis, Skroblų g.', 'plotas': '44.02', 'kambariu_skaicius': '2'}
{'buto _kaina': '164692', 'kvadrato_kaina': '2440', 'adresas': 'Vilnius, Bajorai, Salaspilio g.', 'plotas': '67.5', 'kambariu_skaicius': '3'}
{'buto _kaina': '307000', 'kvadrato_kaina': '2488', 'adresas': 'Klaipėda, Centras, Žiedų skg.', 'plotas': '123.37', 'kambariu_skaicius': '4'}
{'buto _kaina': '135000', 'kvadrato_kaina': '2213', 'adresas': 'Palanga, Palanga, Saulėlydžio g.', 'plotas': '61', 'kambariu_skaicius': '2'}
{'buto _kaina': '319968', 'kvadrato_kaina': '3325', 'adresas': 'Vilnius, Santariškės, M. Bukšos g.', 'plotas': '96.22', 'kambariu_skaicius': '4'}
{'buto _kaina': '280000', 'kvadrato_kaina': '5477', 'adresas': 'Vilnius, Žirmūnai, Raitininkų g.', 'plotas': '51.12', 'kambariu_skaicius': '2'}
{'buto _kaina': '160000', 'kvadrato_kaina': '2218', 'adresas': 'Vilnius, Pašilaičiai, Pavilnionių g.', 'plotas': '72.14', 'kambariu_skaicius': '3'}
{'buto _kaina': '995000', 'kvadrato_kaina': '10160', 'adresas': 'Vilnius, Šnipiškės, Olimpiečių g.', 'plotas': '97.93', 'kambariu_skaicius': '3'}
{'buto _kaina': '146000', 'kvadrato_kaina': '2764', 'adresas': 'Vilnius, Lazdynėliai, Lazdynėlių g.', 'plotas': '52.82', 'kambariu_skaicius': '3'}
{'buto _kaina': '118000', 'kvadrato_kaina': '2687', 'adresas': 'Vilnius, Pilaitė, M. Mažvydo g.', 'plotas': '43.91', 'kambariu_skaicius': '2'}
{'buto _kaina': '830000', 'kvadrato_kaina': '5804', 'adresas': 'Vilnius, Senamiestis, Gedimino pr.', 'plotas': '143', 'kambariu_skaicius': '3'}
{'buto _kaina': '295000', 'kvadrato_kaina': '3782', 'adresas': 'Vilnius, Karoliniškės, Igno Šimulionio g.', 'plotas': '78.01', 'kambariu_skaicius': '3'}
{'buto _kaina': '144999', 'kvadrato_kaina': '2617', 'adresas': 'Kaunas, Dainava, Taikos pr.', 'plotas': '55.4', 'kambariu_skaicius': '3'}
{'buto _kaina': '125000', 'kvadrato_kaina': '3000', 'adresas': 'Kaunas, Žemieji Šančiai, A. Juozapavičiaus pr.', 'plotas': '41.67', 'kambariu_skaicius': '2'}
{'buto _kaina': '219000', 'kvadrato_kaina': '4844', 'adresas': 'Vilnius, Markučiai, Kaukysos g.', 'plotas': '45.21', 'kambariu_skaicius': '2'}
{'buto _kaina': '100900', 'kvadrato_kaina': '3135', 'adresas': 'Vilnius, Žirmūnai, Žirmūnų g.', 'plotas': '32.19', 'kambariu_skaicius': '1'}
{'buto _kaina': '133500', 'kvadrato_kaina': '3018', 'adresas': 'Vilnius, Karoliniškės, Algimanto Petro Kavoliuko g.', 'plotas': '44.24', 'kambariu_skaicius': '2'}
{'buto _kaina': '145000', 'kvadrato_kaina': '3152', 'adresas': 'Vilnius, Pilaitė, I. Simonaitytės g.', 'plotas': '46', 'kambariu_skaicius': '2'}
27
'NoneType' object has no attribute 'find'
'NoneType' object has no attribute 'find'
{'buto _kaina': '140000', 'kvadrato_kaina': '3415', 'adresas': 'Vilnius, Karoliniškės, Algimanto Petro Kavoliuko g.', 'plotas': '41', 'kambariu_skaicius': '2'}
{'buto _kaina': '170000', 'kvadrato_kaina': '2024', 'adresas': 'Klaipėda, Alksnynė, Taikos pr.', 'plotas': '84', 'kambariu_skaicius': '3'}
{'buto _kaina': '134900', 'kvadrato_kaina': '2645', 'adresas': 'Vilnius, Justiniškės, Taikos g.', 'plotas': '51', 'kambariu_skaicius': '3'}
{'buto _kaina': '69900', 'kvadrato_kaina': '2377', 'adresas': 'Kaunas, Žaliakalnis, Kalniečių g.', 'plotas': '29.41', 'kambariu_skaicius': '1'}
{'buto _kaina': '192000', 'kvadrato_kaina': '3368', 'adresas': 'Vilnius, Pilaitė, Tvankstos g.', 'plotas': '57', 'kambariu_skaicius': '3'}
{'buto _kaina': '164000', 'kvadrato_kaina': '4316', 'adresas': 'Vilnius, Šnipiškės, Lvivo g.', 'plotas': '38', 'kambariu_skaicius': '2'}
{'buto _kaina': '95000', 'kvadrato_kaina': '2879', 'adresas': 'Vilnius, Justiniškės, Helsinkio g.', 'plotas': '33', 'kambariu_skaicius': '2'}
{'buto _kaina': '239000', 'kvadrato_kaina': '3918', 'adresas': 'Vilnius, Naujamiestis, Gerosios Vilties g.', 'plotas': '61', 'kambariu_skaicius': '3'}
{'buto _kaina': '49000', 'kvadrato_kaina': '1633', 'adresas': 'Kaunas, Dainava, Partizanų g.', 'plotas': '30', 'kambariu_skaicius': '1'}
{'buto _kaina': '229000', 'kvadrato_kaina': '4906', 'adresas': 'Vilnius, Vilkpėdė, Eigulių g.', 'plotas': '46.68', 'kambariu_skaicius': '2'}
{'buto _kaina': '108000', 'kvadrato_kaina': '3092', 'adresas': 'Vilnius, Naujininkai, Kaminkelio g.', 'plotas': '34.93', 'kambariu_skaicius': '1'}
{'buto _kaina': '91222', 'kvadrato_kaina': '2887', 'adresas': 'Vilnius, Pilaitė, Pilkalnio g.', 'plotas': '31.6', 'kambariu_skaicius': '1'}
{'buto _kaina': '86154', 'kvadrato_kaina': '2731', 'adresas': 'Vilnius, Naujamiestis, Smolensko g.', 'plotas': '31.55', 'kambariu_skaicius': '2'}
{'buto _kaina': '109600', 'kvadrato_kaina': '4327', 'adresas': 'Vilnius, Naujamiestis, Vytenio g.', 'plotas': '25.33', 'kambariu_skaicius': '1'}
{'buto _kaina': '111000', 'kvadrato_kaina': '2467', 'adresas': 'Palanga, Mėguvos g.', 'plotas': '45', 'kambariu_skaicius': '2'}
{'buto _kaina': '166000', 'kvadrato_kaina': '3773', 'adresas': 'Vilnius, Lazdynėliai, Žaibo g.', 'plotas': '44', 'kambariu_skaicius': '2'}
{'buto _kaina': '130251', 'kvadrato_kaina': '2963', 'adresas': 'Vilnius, Visoriai, Visorių g.', 'plotas': '43.96', 'kambariu_skaicius': '2'}
{'buto _kaina': '208000', 'kvadrato_kaina': '2849', 'adresas': 'Vilnius, Senamiestis, Kaštonų g.', 'plotas': '73', 'kambariu_skaicius': '2'}
{'buto _kaina': '126321', 'kvadrato_kaina': '3900', 'adresas': 'Vilnius, Naujamiestis, Algirdo g.', 'plotas': '32.39', 'kambariu_skaicius': '1'}
{'buto _kaina': '168823', 'kvadrato_kaina': '3850', 'adresas': 'Vilnius, Naujamiestis, Marijampolės g.', 'plotas': '43.85', 'kambariu_skaicius': '2'}
{'buto _kaina': '116875', 'kvadrato_kaina': '2750', 'adresas': 'Vilnius, Karoliniškės, Sietyno g.', 'plotas': '42.5', 'kambariu_skaicius': '2'}
{'buto _kaina': '139400', 'kvadrato_kaina': '4000', 'adresas': 'Vilnius, Šnipiškės, Šatrijos g.', 'plotas': '34.85', 'kambariu_skaicius': '2'}
{'buto _kaina': '214900', 'kvadrato_kaina': '4082', 'adresas': 'Vilnius, Naujamiestis, Mindaugo g.', 'plotas': '52.64', 'kambariu_skaicius': '3'}
{'buto _kaina': '140610', 'kvadrato_kaina': '2420', 'adresas': 'Druskininkų m., Liepų g.', 'plotas': '58.1', 'kambariu_skaicius': '3'}
{'buto _kaina': '163000', 'kvadrato_kaina': '3881', 'adresas': 'Vilnius, Lazdynėliai, Žaibo g.', 'plotas': '42', 'kambariu_skaicius': '2'}
27
'NoneType' object has no attribute 'find'
'NoneType' object has no attribute 'find'
{'buto _kaina': '76000', 'kvadrato_kaina': '1188', 'adresas': 'Klaipėda, Žardininkai, Žardininkų g.', 'plotas': '64', 'kambariu_skaicius': '3'}
{'buto _kaina': '83990', 'kvadrato_kaina': '2745', 'adresas': 'Kaunas, Freda, Europos pr.', 'plotas': '30.6', 'kambariu_skaicius': '2'}
{'buto _kaina': '119000', 'kvadrato_kaina': '2532', 'adresas': 'Vilnius, Lazdynai, Architektų g.', 'plotas': '47', 'kambariu_skaicius': '2'}
{'buto _kaina': '174900', 'kvadrato_kaina': '2610', 'adresas': 'Vilnius, Lazdynai, Architektų g.', 'plotas': '67.01', 'kambariu_skaicius': '4'}
{'buto _kaina': '85500', 'kvadrato_kaina': '3139', 'adresas': 'Vilnius, Šeškinė, Gelvonų g.', 'plotas': '27.24', 'kambariu_skaicius': '1'}
{'buto _kaina': '129000', 'kvadrato_kaina': '2950', 'adresas': 'Vilnius, Šeškinė, Čiobiškio g.', 'plotas': '43.73', 'kambariu_skaicius': '2'}
{'buto _kaina': '123900', 'kvadrato_kaina': '1906', 'adresas': 'Vilnius, Pašilaičiai, Perkūnkiemio g.', 'plotas': '65', 'kambariu_skaicius': '2'}
{'buto _kaina': '104420', 'kvadrato_kaina': '2299', 'adresas': 'Kaunas, Šilainiai, Naujakurių g.', 'plotas': '45.41', 'kambariu_skaicius': '2'}
{'buto _kaina': '219000', 'kvadrato_kaina': '3440', 'adresas': 'Vilnius, Pilaitė, Padekaniškių g.', 'plotas': '63.66', 'kambariu_skaicius': '2'}
{'buto _kaina': '132000', 'kvadrato_kaina': '2750', 'adresas': 'Palanga, Sergiškių g.', 'plotas': '48', 'kambariu_skaicius': '2'}
{'buto _kaina': '133500', 'kvadrato_kaina': '2880', 'adresas': 'Vilnius, Pašilaičiai, Pavilnionių g.', 'plotas': '46.36', 'kambariu_skaicius': '2'}
{'buto _kaina': '99850', 'kvadrato_kaina': '2504', 'adresas': 'Klaipėda, Labrenciškės, Kretingos g.', 'plotas': '39.87', 'kambariu_skaicius': '2'}
{'buto _kaina': '168624', 'kvadrato_kaina': '2150', 'adresas': 'Klaipėda, Labrenciškės, Kretingos g.', 'plotas': '78.43', 'kambariu_skaicius': '3'}
{'buto _kaina': '106075', 'kvadrato_kaina': '2297', 'adresas': 'Klaipėda, Labrenciškės, Kretingos g.', 'plotas': '46.17', 'kambariu_skaicius': '2'}
{'buto _kaina': '166000', 'kvadrato_kaina': '3773', 'adresas': 'Vilnius, Lazdynėliai, Žaibo g.', 'plotas': '44', 'kambariu_skaicius': '2'}
{'buto _kaina': '187550', 'kvadrato_kaina': '3907', 'adresas': 'Palanga, Palanga, Virbališkės tak.', 'plotas': '48', 'kambariu_skaicius': '2'}
{'buto _kaina': '79000', 'kvadrato_kaina': '3160', 'adresas': 'Palanga, Sergiškių g.', 'plotas': '25', 'kambariu_skaicius': '1'}
{'buto _kaina': '135000', 'kvadrato_kaina': '2813', 'adresas': 'Vilnius, Naujamiestis, Naugarduko g.', 'plotas': '48', 'kambariu_skaicius': '2'}
{'buto _kaina': '199000', 'kvadrato_kaina': '3044', 'adresas': 'Vilnius, Karoliniškės, Algimanto Petro Kavoliuko g.', 'plotas': '65.38', 'kambariu_skaicius': '3'}
{'buto _kaina': '184000', 'kvadrato_kaina': '5111', 'adresas': 'Vilnius, Paupys, Krivūlės g.', 'plotas': '36', 'kambariu_skaicius': '2'}
{'buto _kaina': '115000', 'kvadrato_kaina': '2091', 'adresas': 'Vilnius, Naujininkai, Naujininkų g.', 'plotas': '55', 'kambariu_skaicius': '2'}
{'buto _kaina': '155200', 'kvadrato_kaina': '3527', 'adresas': 'Vilnius, Pilaitė, Tvankstos g.', 'plotas': '44', 'kambariu_skaicius': '2'}
{'buto _kaina': '185500', 'kvadrato_kaina': '4033', 'adresas': 'Vilnius, Baltupiai, Baltupio g.', 'plotas': '46', 'kambariu_skaicius': '2'}
{'buto _kaina': '215000', 'kvadrato_kaina': '4541', 'adresas': 'Vilnius, Antakalnis, V. Grybo g.', 'plotas': '47.35', 'kambariu_skaicius': '2'}
{'buto _kaina': '38000', 'kvadrato_kaina': '1719', 'adresas': 'Kaunas, Panemunė, Vaidoto g.', 'plotas': '22.11', 'kambariu_skaicius': '2'}
27
'NoneType' object has no attribute 'find'
'NoneType' object has no attribute 'find'
{'buto _kaina': '37000', 'kvadrato_kaina': '1576', 'adresas': 'Kaunas, Panemunė, Vaidoto g.', 'plotas': '23.47', 'kambariu_skaicius': '1'}
{'buto _kaina': '202000', 'kvadrato_kaina': '3961', 'adresas': 'Vilnius, Viršuliškės, Viršilų g.', 'plotas': '51', 'kambariu_skaicius': '3'}
{'buto _kaina': '207940', 'kvadrato_kaina': '3999', 'adresas': 'Vilnius, Žvėrynas, Stumbrų g.', 'plotas': '52', 'kambariu_skaicius': '2'}
{'buto _kaina': '106300', 'kvadrato_kaina': '3082', 'adresas': 'Vilnius, Karoliniškės, Loretos Asanavičiūtės g.', 'plotas': '34.49', 'kambariu_skaicius': '2'}
{'buto _kaina': '130300', 'kvadrato_kaina': '3007', 'adresas': 'Vilnius, Justiniškės, Taikos g.', 'plotas': '43.33', 'kambariu_skaicius': '2'}
{'buto _kaina': '124700', 'kvadrato_kaina': '1911', 'adresas': 'Trakų r. sav., Lentvario m., Naujosios Sodybos g.', 'plotas': '65.24', 'kambariu_skaicius': '3'}
{'buto _kaina': '210900', 'kvadrato_kaina': '4102', 'adresas': 'Vilnius, Žvėrynas, Stumbrų g.', 'plotas': '51.42', 'kambariu_skaicius': '3'}
{'buto _kaina': '192502', 'kvadrato_kaina': '5800', 'adresas': 'Vilnius, Užupis, Filaretų g.', 'plotas': '33.19', 'kambariu_skaicius': '2'}
{'buto _kaina': '59000', 'kvadrato_kaina': '855', 'adresas': 'Alytus, Dainava, Vilties g.', 'plotas': '69.03', 'kambariu_skaicius': '4'}
{'buto _kaina': '69000', 'kvadrato_kaina': '1895', 'adresas': 'Telšių m., Ežero g.', 'plotas': '36.41', 'kambariu_skaicius': '2'}
{'buto _kaina': '149000', 'kvadrato_kaina': '3641', 'adresas': 'Vilnius, Naujamiestis, Aguonų g.', 'plotas': '40.92', 'kambariu_skaicius': '2'}
{'buto _kaina': '192500', 'kvadrato_kaina': '2070', 'adresas': 'Kaunas, Žemutiniai Kaniūkai, Raudondvario pl.', 'plotas': '93', 'kambariu_skaicius': '4'}
{'buto _kaina': '137500', 'kvadrato_kaina': '2191', 'adresas': 'Kaunas, Žemieji Šančiai, Kranto al.', 'plotas': '62.75', 'kambariu_skaicius': '3'}
{'buto _kaina': '75000', 'kvadrato_kaina': '1961', 'adresas': 'Kaunas, Aleksotas, K. Dulksnio g.', 'plotas': '38.24', 'kambariu_skaicius': '2'}
{'buto _kaina': '389000', 'kvadrato_kaina': '3687', 'adresas': 'Kaunas, Vilijampolė, Brastos g.', 'plotas': '105.51', 'kambariu_skaicius': '4'}
{'buto _kaina': '288000', 'kvadrato_kaina': '2382', 'adresas': 'Vilnius, Pašilaičiai, Laisvės pr.', 'plotas': '120.93', 'kambariu_skaicius': '4'}
{'buto _kaina': '499999', 'kvadrato_kaina': '6250', 'adresas': 'Kaunas, Senamiestis, Pilies g.', 'plotas': '80', 'kambariu_skaicius': '3'}
{'buto _kaina': '229000', 'kvadrato_kaina': '5205', 'adresas': 'Vilnius, Šnipiškės, Šatrijos g.', 'plotas': '44', 'kambariu_skaicius': '2'}
{'buto _kaina': '159900', 'kvadrato_kaina': '3476', 'adresas': 'Vilnius, Lazdynai, M. Mironaitės g.', 'plotas': '46', 'kambariu_skaicius': '2'}
{'buto _kaina': '355000', 'kvadrato_kaina': '6928', 'adresas': 'Palanga, Palanga, Vanagupės g.', 'plotas': '51.24', 'kambariu_skaicius': '2'}
{'buto _kaina': '500000', 'kvadrato_kaina': '3378', 'adresas': 'Vilnius, Senamiestis, Palangos g.', 'plotas': '148', 'kambariu_skaicius': '4'}
{'buto _kaina': '299000', 'kvadrato_kaina': '3462', 'adresas': 'Palanga, Vanagupės g.', 'plotas': '86.36', 'kambariu_skaicius': '4'}
{'buto _kaina': '490000', 'kvadrato_kaina': '3141', 'adresas': 'Vilnius, Senamiestis, J. Basanavičiaus g.', 'plotas': '156', 'kambariu_skaicius': '4'}
{'buto _kaina': '70000', 'kvadrato_kaina': '963', 'adresas': 'Jonavos m., Geležinkelio g.', 'plotas': '72.67', 'kambariu_skaicius': '3'}
{'buto _kaina': '195000', 'kvadrato_kaina': '2786', 'adresas': 'Kaunas, Žaliakalnis, Šimkaičių g.', 'plotas': '70', 'kambariu_skaicius': '3'}