In [ ]:
#Nuskaitykite DUS2014csv ir DUS2018.csv į pandas lenteles

# .query(), .value_counts():
# Kiek dalyvavo vyrų, moterų apklausoje kiekvienais metais. Suraskite pokytį,
# rezultatus išspausdinkite

# kiek 2018 metais buvo respondentų iš kiekvienos amžiaus grupės?
# Suraskite vidutinius atlyginimus kiekvienai amžiaus grupei (2018 metams)
# hint:as for ciklas moka eiti per array vertes, kurias gausite su .index arba .values atributais

# Palyginkite, kiek procentais daugiau uždirbo vyrai už moteris 2018 metais?
# Kiek procentais vyrai uždirba daugiau, nei bendras atlyginimų vidurkis?
# Kiek procentais moterys uždirba mažiau, nei bendras atlyginimų vidurkis?
# imkite bdu_spalio

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dus14 = pd.read_csv('Dus2014.csv')
dus18 = pd.read_csv('Dus2018.csv')

In [3]:
d14s = dus14[['lytis', 'amzius', 'issilavinimas','bdu_spalio','profesija']]
d18s = dus18[['lytis', 'amzius', 'issilavinimas','bdu_spalio','profesija']]

In [28]:
# Kiek dalyvavo vyrų, moterų apklausoje kiekvienais metais. Suraskite pokytį,
# rezultatus išspausdinkite

moterys_2014 = d14s[d14s["lytis"]=="F"] 
vyrai_2014 = d14s[d14s["lytis"]=="M"] 
moteru_sk_2014 = moterys_2014['lytis'].value_counts().values[0] # moterys_2014['lytis'].value_counts().values duoda atsakyma:array([22366], dtype=int64), todel pridedam [0] ir tokiu budu gauname tik skaiciu
vyru_sk_2014 = vyrai_2014['lytis'].value_counts().values[0]

moterys_2018 = d18s[d18s["lytis"]=="F"] 
vyrai_2018 = d18s[d18s["lytis"]=="M"]
moteru_sk_2018 = moterys_2018['lytis'].value_counts().values[0]
vyru_sk_2018 = vyrai_2018['lytis'].value_counts().values[0]

moteru_sk_pokytis = moteru_sk_2018-moteru_sk_2014
vyru_sk_pokytis = vyru_sk_2018-vyru_sk_2014


print("Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis: ", moteru_sk_pokytis, "Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis: ", vyru_sk_pokytis, sep = '\n')

Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis:
-1678
Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis:
-110

In [29]:
# Remigijaus pavyzdys, lengvesnis variantas su query

moterys_2014 = d14s.query('lytis == "F"')
moteru_sk_2014 = moterys_2014['lytis'].value_counts().values[0]
vyrai_2014 = d14s.query('lytis == "M"')
vyru_sk_2014 = vyrai_2014['lytis'].value_counts().values[0]

moterys_2018 = d18s.query('lytis == "F"')
moteru_sk_2018 = moterys_2018['lytis'].value_counts().values[0]
vyrai_2018 = d18s.query('lytis == "M"')
vyru_sk_2018 = vyrai_2018['lytis'].value_counts().values[0]

moteru_sk_pokytis = moteru_sk_2018-moteru_sk_2014
vyru_sk_pokytis = vyru_sk_2018-vyru_sk_2014

print("Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis: ", moteru_sk_pokytis, "Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis: ", vyru_sk_pokytis, sep = '\n')

Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis:
-1678
Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis:
-110

In [56]:
# kiek 2018 metais buvo respondentų iš kiekvienos amžiaus grupės?
# Suraskite vidutinius atlyginimus kiekvienai amžiaus grupei (2018 metams)
# hint:as for ciklas moka eiti per array vertes, kurias gausite su .index arba .values atributais

amzius = d18s['amzius'].value_counts()
# 50-59    10056
# 40-49     9421
# 14-29     9368
# 30-39     9282
# 60+       5037
amzius.head()

amz = ['14-29', '30-39', '40-49', '50-59', '60+']

for amzius in amz:
    grupes = d18s.query('amzius == @ amzius')
    vidutinis_atlyginimas = grupes['bdu_spalio'].mean()
    print('Amžiaus grupė: ', amzius, ' vidutinis atlyginimas: ',vidutinis_atlyginimas)

# amzius_14_29 = d18s.query('amzius == "14-29"')
# amzius_14_29_vid_atl = amzius_14_29['bdu_spalio'].mean()

# amzius_30_39 = d18s.query('amzius == "30-39"')
# amzius_30_39_vid_atl = amzius_30_39['bdu_spalio'].mean()

# amzius_40_49 = d18s.query('amzius == "40-49"')
# amzius_40_49_vid_atl = amzius_40_49['bdu_spalio'].mean()

# amzius_50_59 = d18s.query('amzius == "50-59"')
# amzius_50_59_vid_atl = amzius_50_59['bdu_spalio'].mean()

# amzius_60plius = d18s.query('amzius == "60+"')
# amzius_60plius_vid_atl = amzius_60plius['bdu_spalio'].mean()

# print("Vidutinis atlyginimas amziaus grupeje 14-29: ", amzius_14_29_vid_atl, "Vidutinis atlyginimas amziaus grupeje 30-39: ", amzius_30_39_vid_atl, "Vidutinis atlyginimas amziaus grupeje 40-49: ", amzius_40_49_vid_atl, "Vidutinis atlyginimas amziaus grupeje 50-59: ", amzius_50_59_vid_atl, "Vidutinis atlyginimas amziaus grupeje 60+: ", amzius_60plius_vid_atl, sep='\n')

Amžiaus grupė:  14-29  vidutinis atlyginimas:  865.5633005977796
Amžiaus grupė:  30-39  vidutinis atlyginimas:  1088.9557207498383
Amžiaus grupė:  40-49  vidutinis atlyginimas:  980.8554293599406
Amžiaus grupė:  50-59  vidutinis atlyginimas:  856.0671241050119
Amžiaus grupė:  60+  vidutinis atlyginimas:  784.542386341076

In [36]:
# Palyginkite, kiek procentais daugiau uždirbo vyrai už moteris 2018 metais?
# Kiek procentais vyrai uždirba daugiau, nei bendras atlyginimų vidurkis?
# Kiek procentais moterys uždirba mažiau, nei bendras atlyginimų vidurkis?
# imkite bdu_spalio


atlyginimu_skirtumas= 100-((d18s.query('lytis == "F"')['bdu_spalio'].mean()/d18s.query('lytis == "M"')['bdu_spalio'].mean())*100)
print("Vyrai 2018m. už moteris uždirbo ",atlyginimu_skirtumas," % didesį atlyginimą", '\n')

proc_moteru = 100-((d18s.query('lytis == "F"')['bdu_spalio'].mean()/d18s['bdu_spalio'].mean())*100)
print("Moterys uždirbo ",proc_moteru,"% mažiau palyginus su bendru atlyginimų vidurkiu", '\n')

proc_vyru = ((d18s.query('lytis == "M"')['bdu_spalio'].mean()/d18s['bdu_spalio'].mean())*100)-100
print(f'{'Vyrai uždirbo'} {proc_vyru} % {' daugiau palyginus su bendru atlyginimų vidurkiu.'}')

Vyrai 2018m. už moteris uždirbo  17.974370561948064  % didesį atlyginimą

Moterys uždirbo  10.241785240496327 % mažiau palyginus su bendru atlyginimų vidurkiu

Vyrai uždirbo 9.427035640478195 %  daugiau palyginus su bendru atlyginimų vidurkiu.

In [48]:
# Nuskaitykite aruodas.csv failą
# Pridėkite prie DataFrame'o naują stulpelį "KainaS", kur būtų skaičiai (float'ai) iš stulpelio "€/S"
# tam panaudokite savo sukurtą funkciją, kuri tekstą verstų į float'us
# bei .apply() metodą
# Suraskite vidutinę kv. m. kainą.
#dar hint'ų - su .values gaunate array, jam, kaip ir standartiniam list'ui, galima taikyti indeksavimą []
# Suraskite, kiek buvo pigių, kiek buvo brangių butų (mažiau už vidutinę
# kainą, daugiau nei vidutinė kaina)
# Suraskite vidutinį butų plotą.

In [46]:
# Nuskaitykite aruodas.csv failą

aruodas = pd.read_csv('aruodas.csv')
aruodas.head()

,Unnamed: 0,Linkas,Adresas,Kaina,€/S,Aukštas,Plotas,Kambariai
0,0,https://www.aruodas.lt/butai-vilniuje-lazdynel...,"Lazdynėliai, Žaibo g.",155 000 €,3690€/m²,4/4,42.00,2
1,1,https://www.aruodas.lt/butai-vilniuje-pasilaic...,"Pašilaičiai, Pavilnionių g.",125 880 €,2977€/m²,4/4,42.28,2
2,2,https://www.aruodas.lt/butai-vilniuje-lazdynel...,"Lazdynėliai, Žaibo g.",166 000 €,3773€/m²,2/4,44.00,2
3,3,https://www.aruodas.lt/butai-vilniuje-pasilaic...,"Pašilaičiai, Perkūnkiemio g.",109 900 €,3283€/m²,7/12,33.48,1
4,4,https://www.aruodas.lt/butai-vilniuje-pilaitej...,"Pilaitė, Pilkalnio g.",137 000 €,3703€/m²,4/4,37.00,2

In [47]:
# Pridėkite prie DataFrame'o naują stulpelį "KainaS", kur būtų skaičiai (float'ai) iš stulpelio "€/S"
# tam panaudokite savo sukurtą funkciją, kuri tekstą verstų į float'us
# bei .apply() metodą

def float_kaina(kaina):
    be_eur = float(kaina[:-4])
    return be_eur

aruodas['KainaS'] = aruodas['€/S'].apply(float_kaina)
aruodas.head()

,Unnamed: 0,Linkas,Adresas,Kaina,€/S,Aukštas,Plotas,Kambariai,KainaS
0,0,https://www.aruodas.lt/butai-vilniuje-lazdynel...,"Lazdynėliai, Žaibo g.",155 000 €,3690€/m²,4/4,42.00,2,3690.0
1,1,https://www.aruodas.lt/butai-vilniuje-pasilaic...,"Pašilaičiai, Pavilnionių g.",125 880 €,2977€/m²,4/4,42.28,2,2977.0
2,2,https://www.aruodas.lt/butai-vilniuje-lazdynel...,"Lazdynėliai, Žaibo g.",166 000 €,3773€/m²,2/4,44.00,2,3773.0
3,3,https://www.aruodas.lt/butai-vilniuje-pasilaic...,"Pašilaičiai, Perkūnkiemio g.",109 900 €,3283€/m²,7/12,33.48,1,3283.0
4,4,https://www.aruodas.lt/butai-vilniuje-pilaitej...,"Pilaitė, Pilkalnio g.",137 000 €,3703€/m²,4/4,37.00,2,3703.0

In [56]:
# Suraskite vidutinę kv. m. kainą.
# dar hint'ų - su .values gaunate array, jam, kaip ir standartiniam list'ui, galima taikyti indeksavimą []

vidutine_kvm_kaina = aruodas['KainaS'].mean()
print(f'{'Vidutinė kvadratinio m. kaina: '} {vidutine_kvm_kaina}')

Vidutinė kvadratinio m. kaina:  3301.46678555506

In [100]:
# Suraskite, kiek buvo pigių, kiek buvo brangių butų (mažiau už vidutinę
# kainą, daugiau nei vidutinė kaina)

def float_buto_kaina(kaina):
    be_eur = float(kaina[:-2].replace(' ', ''))
    return be_eur

aruodas['Kaina_be_Eur'] = aruodas['Kaina'].apply(float_buto_kaina)

def pigus_brangus(KainaS):
    if KainaS  <= aruodas['KainaS'].mean():
        return "pigus"
    else:
        return "brangus"

aruodas['Pigus_brangus'] = aruodas['KainaS'].apply(pigus_brangus)
aruodas.head()

pigus_butai = aruodas['Pigus_brangus'].value_counts()
print(f'{pigus_butai}')

Pigus_brangus
pigus      1283
brangus     960
Name: count, dtype: int64

In [107]:
# Suraskite vidutinį butų plotą.
aruodas.head()

vidutinis_plotas = aruodas['Plotas'].mean()
print(f'{'Vidutinis buto plotas yra: '} {vidutinis_plotas} {' kv.m.'}')

Vidutinis buto plotas yra:  60.41541685242979  kv.m.

In [122]:
# Suraskite vidutinį pigaus ir brangaus buto plotą.
# aruodas.head()
pigiu_butu_vid_plotas = aruodas.query('Pigus_brangus == "pigus"')['Kaina_be_Eur'].mean()
brangiu_butu_vid_plotas = aruodas.query('Pigus_brangus == "brangus"')['Kaina_be_Eur'].mean()

print(f'{'Pigių butų vidutinis plotas yra:'} {pigiu_butu_vid_plotas} {'Eur.'}{'\n'}{'Brangių butų vidutinis plotas yra:'} {brangiu_butu_vid_plotas} {'Eur.'}')

Pigių butų vidutinis plotas yra: 135574.9041309431 Eur.
Brangių butų vidutinis plotas yra: 299677.7625 Eur.

In [ ]:
# AUTO.CSV failas:
# Raskite vidutinę kainą, ridą visiems automobiliams bei atskirai šiems: BMW, Audi, Toyota, Vokswagen, Ford.
# Suskirstykite automobilius pagal santykį su vidutine kaina:
# < 0.75 avg - pigūs
# 0.75 iki 1.15 avg - vidutiniai, 
# > 1.15 avg - brangūs
# Kiek kiekvienoje grupėje buvo tokių auto?
# tai vizualizuokite su bar

In [65]:
# NYPD failas:
# Su vizualizacija:
# Kurios valandos, kurie paros metai buvo pavojingiausi susišaudymų prasme?
# A) Kuriose valandose mirtinų susišaudymų kiekis buvo didžiausias?
# B) Kuriose valandose procentinis mirtinų susišaudymų kiekis yra didžiausias?
# Ar A ir B valandos sutampa, arne?

nypd = pd.read_csv('NYPD_Shooting.csv', sep=';', parse_dates=['OCCUR_DATE', 'OCCUR_TIME'])
nypd.head()

C:\Users\Dovydaiciai\AppData\Local\Temp\ipykernel_11328\2905881158.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nypd = pd.read_csv('NYPD_Shooting.csv', sep=';', parse_dates=['OCCUR_DATE', 'OCCUR_TIME'])

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,Latitude,Longitude
0,201575314,2019-08-23,2024-04-12 22:10:00,QUEENS,103,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,40.697805,-73.808141
1,205748546,2019-11-27,2024-04-12 15:54:00,BRONX,40,0.0,NaN,False,<18,M,BLACK,25-44,F,BLACK,40.818700,-73.918571
2,193118596,2019-02-02,2024-04-12 19:40:00,MANHATTAN,23,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK HISPANIC,40.791916,-73.945480
3,204192600,2019-10-24,2024-04-12 00:52:00,STATEN ISLAND,121,0.0,PVT HOUSE,True,25-44,M,BLACK,25-44,F,BLACK,40.638064,-74.166108
4,201483468,2019-08-22,2024-04-12 18:03:00,BRONX,46,0.0,NaN,False,25-44,M,BLACK HISPANIC,18-24,M,BLACK,40.854547,-73.913339

In [1]:
# Kurios valandos, kurie paros metai buvo pavojingiausi susišaudymų prasme?
nypd2=[['OCCUR_DATE','OCCUR_TIME','BORO','STATISTICAL_MURDER_FLAG']]
nypd2['HR'] = nypd2['Data'].dt.rount('H')
nypd2.head()

nypd_small['HR']= nypd_small['DATA'].dt.round('H').dt.hour # round('H')suapvalina valandos tikslumu
nypd_small.head(3)

# def paros_laikas(Hour): # pervadina paros laiko pavadinimais
#     if Hour > 6 and Hour < 11:
#          return "rytas"
#     elif Hour >= 12 and Hour < 17:
#          return "diena"
#     elif Hour >= 18 and Hour < 22:
#          return "vakaras"
#     else: 
#          return"naktis"
    
# nypd_small['Paros laikas'] = nypd_small['Hour'].apply(paros_laikas)
# nypd_small.head()

TypeError: list indices must be integers or slices, not str

In [ ]:
#Su life-exp.csv:
#atrinkite su .query() į naują lentelę tik 2019 metų duomenis.
# Toliau naudojama tik naujoji lentelė
# Suraskite vidutinę gyvenimo trukmę
# Suskirstykite valstybes į ilgaamžes ir ne
# jei gyvenimo trukmė mažiau nei vidurkis - neilgaamžė
# jei didesnė - ilgaamžė.
# Kiek buvo valstybių ilgaamžių, neilgaamžių?

#Su Dar su life-exp.csv:
#Nuskaitykite failą
#Suraskite vidutinę, minimalią, maksimalią gyvenimo trukmę Lietuvai, 
# Latvijai, Švedijai, Vokietijai
# Padarykite, jog vartotojas galėtų įvesti, kokios šalies
# duomenis reikia išvesti
#Bonus - .plot() vizualizacija tokių duomenų:
# gyvenimo trukmė kiekvienais metais Lietuvai ir vartotojo įvestai šaliai