In [ ]:
#Nuskaitykite DUS2014csv ir DUS2018.csv į pandas lenteles

# .query(), .value_counts():
# Kiek dalyvavo vyrų, moterų apklausoje kiekvienais metais. Suraskite pokytį,
# rezultatus išspausdinkite

# kiek 2018 metais buvo respondentų iš kiekvienos amžiaus grupės?
# Suraskite vidutinius atlyginimus kiekvienai amžiaus grupei (2018 metams)
# hint:as for ciklas moka eiti per array vertes, kurias gausite su .index arba .values atributais

# Palyginkite, kiek procentais daugiau uždirbo vyrai už moteris 2018 metais?
# Kiek procentais vyrai uždirba daugiau, nei bendras atlyginimų vidurkis?
# Kiek procentais moterys uždirba mažiau, nei bendras atlyginimų vidurkis?
# imkite bdu_spalio

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dus14 = pd.read_csv('Dus2014.csv')
dus18 = pd.read_csv('Dus2018.csv')

In [4]:
d14s = dus14[['lytis', 'amzius', 'issilavinimas','bdu_spalio','profesija']]
d18s = dus18[['lytis', 'amzius', 'issilavinimas','bdu_spalio','profesija']]

In [28]:
# Kiek dalyvavo vyrų, moterų apklausoje kiekvienais metais. Suraskite pokytį,
# rezultatus išspausdinkite

moterys_2014 = d14s[d14s["lytis"]=="F"] 
vyrai_2014 = d14s[d14s["lytis"]=="M"] 
moteru_sk_2014 = moterys_2014['lytis'].value_counts().values[0] # moterys_2014['lytis'].value_counts().values duoda atsakyma:array([22366], dtype=int64), todel pridedam [0] ir tokiu budu gauname tik skaiciu
vyru_sk_2014 = vyrai_2014['lytis'].value_counts().values[0]

moterys_2018 = d18s[d18s["lytis"]=="F"] 
vyrai_2018 = d18s[d18s["lytis"]=="M"]
moteru_sk_2018 = moterys_2018['lytis'].value_counts().values[0]
vyru_sk_2018 = vyrai_2018['lytis'].value_counts().values[0]

moteru_sk_pokytis = moteru_sk_2018-moteru_sk_2014
vyru_sk_pokytis = vyru_sk_2018-vyru_sk_2014


print("Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis: ", moteru_sk_pokytis, "Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis: ", vyru_sk_pokytis, sep = '\n')

Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis:
-1678
Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis:
-110

In [29]:
# Remigijaus pavyzdys, lengvesnis variantas su query

moterys_2014 = d14s.query('lytis == "F"')
moteru_sk_2014 = moterys_2014['lytis'].value_counts().values[0]
vyrai_2014 = d14s.query('lytis == "M"')
vyru_sk_2014 = vyrai_2014['lytis'].value_counts().values[0]

moterys_2018 = d18s.query('lytis == "F"')
moteru_sk_2018 = moterys_2018['lytis'].value_counts().values[0]
vyrai_2018 = d18s.query('lytis == "M"')
vyru_sk_2018 = vyrai_2018['lytis'].value_counts().values[0]

moteru_sk_pokytis = moteru_sk_2018-moteru_sk_2014
vyru_sk_pokytis = vyru_sk_2018-vyru_sk_2014

print("Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis: ", moteru_sk_pokytis, "Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis: ", vyru_sk_pokytis, sep = '\n')

Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis:
-1678
Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis:
-110

In [56]:
# kiek 2018 metais buvo respondentų iš kiekvienos amžiaus grupės?
# Suraskite vidutinius atlyginimus kiekvienai amžiaus grupei (2018 metams)
# hint:as for ciklas moka eiti per array vertes, kurias gausite su .index arba .values atributais

amzius = d18s['amzius'].value_counts()
# 50-59    10056
# 40-49     9421
# 14-29     9368
# 30-39     9282
# 60+       5037
amzius.head()

amz = ['14-29', '30-39', '40-49', '50-59', '60+']

for amzius in amz:
    grupes = d18s.query('amzius == @ amzius')
    vidutinis_atlyginimas = grupes['bdu_spalio'].mean()
    print('Amžiaus grupė: ', amzius, ' vidutinis atlyginimas: ',vidutinis_atlyginimas)

# amzius_14_29 = d18s.query('amzius == "14-29"')
# amzius_14_29_vid_atl = amzius_14_29['bdu_spalio'].mean()

# amzius_30_39 = d18s.query('amzius == "30-39"')
# amzius_30_39_vid_atl = amzius_30_39['bdu_spalio'].mean()

# amzius_40_49 = d18s.query('amzius == "40-49"')
# amzius_40_49_vid_atl = amzius_40_49['bdu_spalio'].mean()

# amzius_50_59 = d18s.query('amzius == "50-59"')
# amzius_50_59_vid_atl = amzius_50_59['bdu_spalio'].mean()

# amzius_60plius = d18s.query('amzius == "60+"')
# amzius_60plius_vid_atl = amzius_60plius['bdu_spalio'].mean()

# print("Vidutinis atlyginimas amziaus grupeje 14-29: ", amzius_14_29_vid_atl, "Vidutinis atlyginimas amziaus grupeje 30-39: ", amzius_30_39_vid_atl, "Vidutinis atlyginimas amziaus grupeje 40-49: ", amzius_40_49_vid_atl, "Vidutinis atlyginimas amziaus grupeje 50-59: ", amzius_50_59_vid_atl, "Vidutinis atlyginimas amziaus grupeje 60+: ", amzius_60plius_vid_atl, sep='\n')

Amžiaus grupė:  14-29  vidutinis atlyginimas:  865.5633005977796
Amžiaus grupė:  30-39  vidutinis atlyginimas:  1088.9557207498383
Amžiaus grupė:  40-49  vidutinis atlyginimas:  980.8554293599406
Amžiaus grupė:  50-59  vidutinis atlyginimas:  856.0671241050119
Amžiaus grupė:  60+  vidutinis atlyginimas:  784.542386341076

In [ ]:
# kiek 2018 metais buvo respondentų iš kiekvienos amžiaus grupės?
# Suraskite vidutinius atlyginimus kiekvienai amžiaus grupei (2018 metams)
# hint:as for ciklas moka eiti per array vertes, kurias gausite su .index arba .values atributais