In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [74]:
# duoti sąrašai:
# su map () ir savo pasirašyta funkcija sugeneruokite naujus sąrašus, kur 
# būtų simbolių kiekiai iš sąrašų x ir y.
# advanced: skaidrėse susiraskite prie if'o is operatorių ir pavyzdžius su type()
# ir sugeneruokite naują sąrašą iš z'o:
# kur tekstas - tai suskaičiuojate simbolių kiekį, kur skaičius - padauginate iš 2.5
# kur sąrašas - randate sąrašo skaičiųą sumą

x = [12,16,17,1,0,-1,-8,10,14]
y = ["Vilnius", 1323, 'Kaunas', 'Alytus', 'omega', -42, 42]
z = ["Vilnius", 1323,[4,5,6], 'Kaunas', 'Alytus', 'omega', -42, 42, [1,2,3]]

x2 = []
y2 = []
z2 = []

# x2 = [len(str(skaicius)) for skaicius in x]
# print(f'{"x2 sąrašas:"} {x2}')

# y2 = [len(str(skaicius)) for skaicius in y]
# print(f'{"y2 sąrašas:"} {y2}')

def simbolis(elementas):
    return len(str(elementas))

x2 = list(map(simbolis,x))
print(x2)

y2 = list(map(simbolis,y))
print(y2)

def veiksmai(elementas):
    if type(elementas) is str:
        return len(str(elementas))
    elif type(elementas) is int:
        return float(elementas)*2.5
    elif type(elementas) is list:
        return sum(elementas)

z2 = list(map(veiksmai,z))
print(z2)

[2, 2, 2, 1, 1, 2, 2, 2, 2]
[7, 4, 6, 6, 5, 3, 2]
[7, 3307.5, 15, 6, 6, 5, -105.0, 105.0, 6]

In [47]:
s = 'A'
lst = []
dct = {}
sets = set()
flt = 1.0
intgr = 7
tpl = (7,)
print(type(s), type(s) is str)
print(type(lst), type(lst) is list)
print(type(dct), type(dct) is dict)
print(type(sets), type(sets) is set)
print(type(flt), type(flt) is float)
print(type(intgr), type(intgr) is int)
print(type(tpl), type(tpl) is tuple)

<class 'str'> True
<class 'list'> True
<class 'dict'> True
<class 'set'> True
<class 'float'> True
<class 'int'> True
<class 'tuple'> True

In [105]:
miestai = pd.read_excel('miestai.xlsx')
miestai.head(10)

,Miestas,Atstumas iki sostinės,Paminėjimo metai,Gautos miesto teisės,Apskritis,Gyventojų skaičius
0,Vilnius,0,1323 m.,1387 m.,16,557440
1,Kaunas,102,1361 m.,1408 m.,13,286763
2,Klaipėda,311,1252 m.,1257–1258 m.,9,147898
3,Šiauliai,213,1236 m.,1713 m.,14,100119
4,Panevėžys,136,1503 m.,1791–1792 m.,11,87148
5,Alytus,101,1377 m.,1581 m.,7,50421
6,Marijampolė,138,1667 m.,1792 m.,9A,35253
7,Mažeikiai,291,1501,1924 m.,7A,32711
8,Jonava,102,1740 m.,1924 m.,13,26715
9,Utena,96,1261 m.,1924–1926 m.,10,25496

In [ ]:
# Pridėkite du naujus stulpelius: Miesto amžius bei kiek metų jis turi miesto teises.
# Su query() atrinkite miestus, kuriuose yra daugiau nei 50 tūkst žmonių,
# raskite žmonių kiekio vidurkį.
# Atrinkite miestus, įkurtus seniau, nei 1500 m, ir raskite bendrą gyventojų skaičių 
# šiuose miestuose.
# kur metu tarpas 1257–1258 - imti pirmus metus.

In [121]:
# Pridėkite du naujus stulpelius: Miesto amžius bei kiek metų jis turi miesto teises.

def miesto_amzius(metai):
    return 2024-float(str(metai)[:4])

miestai['Miesto amžius']=miestai['Paminėjimo metai'].apply(miesto_amzius)
miestai.head(10)

def miesto_teises(metai):
    try:
        return 2024-int(str(metai)[:4])
    except:
        return "-1"

miestai['Miesto teises turi']=miestai['Gautos miesto teisės'].apply(miesto_teises)
miestai.head()

,Miestas,Atstumas iki sostinės,Paminėjimo metai,Gautos miesto teisės,Apskritis,Gyventojų skaičius,Miesto amžius,Miesto teisės,Miesto teises turi
0,Vilnius,0,1323 m.,1387 m.,16,557440,701.0,-1,637
1,Kaunas,102,1361 m.,1408 m.,13,286763,663.0,-1,616
2,Klaipėda,311,1252 m.,1257–1258 m.,9,147898,772.0,-1,767
3,Šiauliai,213,1236 m.,1713 m.,14,100119,788.0,-1,311
4,Panevėžys,136,1503 m.,1791–1792 m.,11,87148,521.0,-1,233

In [157]:
# Su query() atrinkite miestus, kuriuose yra daugiau nei 50 tūkst žmonių,
# raskite žmonių kiekio vidurkį.

gyventoju_vidurkis = miestai.query('`Gyventojų skaičius` >= 50000')['Gyventojų skaičius'].mean().round(0) # kai qyery'je stulpelio pavadinime kei zodziai- dedam ta teksta tarp ``
print(f'{"Miestuose, kurių gyventojų skaičius yra daugiau negu 50k, gyventojų vidurkis:"} {gyventoju_vidurkis}')

Miestuose, kurių gyventojų skaičius yra daugiau negu 50k, gyventojų vidurkis: 204965.0

In [139]:
# Atrinkite miestus, įkurtus seniau, nei 1500 m, ir raskite bendrą gyventojų skaičių 
# šiuose miestuose.

gyventoju_skaicius_1500 = miestai.query('`Miesto amžius` >= 524')['Gyventojų skaičius'].sum()

print(f'{"Miestuose, kurie įkurti iki 1500m, bendras gyventojų skaičius:"} {gyventoju_skaicius_1500}')

Miestuose, kurie įkurti iki 1500m, bendras gyventojų skaičius: 1463422

In [140]:
# LENTELIU JUNGIMAS

# inner jungimo budas kai sujungiami tik sutamptantys elementai is lenteliu, isskirtiniiai neitraukiami
# left jungimo budas- viskas lieka is kairisios lenteles, is desiniosios atkeliauja tik sutampancios eilutes. Kai desineje eilutekje duomenu prie elemto nera- iraso null, jei irasas yra tik desineje lenteleje- jis neitraukiamas i nauja lentele

miestai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Miestas                103 non-null    object
 1   Atstumas iki sostinės  103 non-null    int64
 2   Paminėjimo metai       103 non-null    object
 3   Gautos miesto teisės   103 non-null    object
 4   Apskritis              103 non-null    object
 5   Gyventojų skaičius     103 non-null    int64
 6   Miesto amžius          103 non-null    float64
 7   Miesto teisės          103 non-null    object
 8   Miesto teises turi     103 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 7.4+ KB

In [164]:
apskritys = pd.read_csv('apskritys.csv')
apskritys.head(15)

   index     Apskritis Kodas
0      0      Vilniaus    16
1      1       Šiaulių    14
2      2         Kauno    13
3      3     Panevėžio    11
4      4        Utenos    10
5      5     Klaipėdos     9
6      6  Marijampolės    9A
7      7       Alytaus     7
8      8        Telšių    7A
9      9      Tauragės    7B

In [165]:
miestai.head()

,Miestas,Atstumas iki sostinės,Paminėjimo metai,Gautos miesto teisės,Apskritis,Gyventojų skaičius,Miesto amžius,Miesto teisės,Miesto teises turi
0,Vilnius,0,1323 m.,1387 m.,16,557440,701.0,-1,637
1,Kaunas,102,1361 m.,1408 m.,13,286763,663.0,-1,616
2,Klaipėda,311,1252 m.,1257–1258 m.,9,147898,772.0,-1,767
3,Šiauliai,213,1236 m.,1713 m.,14,100119,788.0,-1,311
4,Panevėžys,136,1503 m.,1791–1792 m.,11,87148,521.0,-1,233

In [172]:
# .merge() funkcija

miestaiSuApskritimis = pd.merge(left=miestai, right=apskritys, left_on='Apskritis', right_on='Kodas', how='inner') # prie merge sklaisutuose nurodome kuri lentele yra kairioji, left/right_on kuri desnioji ir kurie stulpeliai sutampa
miestaiSuApskritimis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Miestas                23 non-null     object
 1   Atstumas iki sostinės  23 non-null     int64
 2   Paminėjimo metai       23 non-null     object
 3   Gautos miesto teisės   23 non-null     object
 4   Apskritis_x            23 non-null     object
 5   Gyventojų skaičius     23 non-null     int64
 6   Miesto amžius          23 non-null     float64
 7   Miesto teisės          23 non-null     object
 8   Miesto teises turi     23 non-null     object
 9   index                  23 non-null     int64
 10  Apskritis_y            23 non-null     object
 11  Kodas                  23 non-null     object
dtypes: float64(1), int64(3), object(8)
memory usage: 2.3+ KB

In [167]:
# .groupby() = grupavimas 

mgr = miestaiSuApskritimis.groupby(by='Apskritis_y')

In [168]:
mgr.groups.keys()

dict_keys(['Marijampolės', 'Tauragės', 'Telšių'])