In [ ]:
#Nuskaitykite DUS2014csv ir DUS2018.csv į pandas lenteles

# .query(), .value_counts():
# Kiek dalyvavo vyrų, moterų apklausoje kiekvienais metais. Suraskite pokytį,
# rezultatus išspausdinkite

# kiek 2018 metais buvo respondentų iš kiekvienos amžiaus grupės?
# Suraskite vidutinius atlyginimus kiekvienai amžiaus grupei (2018 metams)
# hint:as for ciklas moka eiti per array vertes, kurias gausite su .index arba .values atributais

# Palyginkite, kiek procentais daugiau uždirbo vyrai už moteris 2018 metais?
# Kiek procentais vyrai uždirba daugiau, nei bendras atlyginimų vidurkis?
# Kiek procentais moterys uždirba mažiau, nei bendras atlyginimų vidurkis?
# imkite bdu_spalio

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dus14 = pd.read_csv('Dus2014.csv')
dus18 = pd.read_csv('Dus2018.csv')

In [3]:
d14s = dus14[['lytis', 'amzius', 'issilavinimas','bdu_spalio','profesija']]
d18s = dus18[['lytis', 'amzius', 'issilavinimas','bdu_spalio','profesija']]

In [28]:
# Kiek dalyvavo vyrų, moterų apklausoje kiekvienais metais. Suraskite pokytį,
# rezultatus išspausdinkite

moterys_2014 = d14s[d14s["lytis"]=="F"] 
vyrai_2014 = d14s[d14s["lytis"]=="M"] 
moteru_sk_2014 = moterys_2014['lytis'].value_counts().values[0] # moterys_2014['lytis'].value_counts().values duoda atsakyma:array([22366], dtype=int64), todel pridedam [0] ir tokiu budu gauname tik skaiciu
vyru_sk_2014 = vyrai_2014['lytis'].value_counts().values[0]

moterys_2018 = d18s[d18s["lytis"]=="F"] 
vyrai_2018 = d18s[d18s["lytis"]=="M"]
moteru_sk_2018 = moterys_2018['lytis'].value_counts().values[0]
vyru_sk_2018 = vyrai_2018['lytis'].value_counts().values[0]

moteru_sk_pokytis = moteru_sk_2018-moteru_sk_2014
vyru_sk_pokytis = vyru_sk_2018-vyru_sk_2014


print("Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis: ", moteru_sk_pokytis, "Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis: ", vyru_sk_pokytis, sep = '\n')

Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis:
-1678
Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis:
-110

In [29]:
# Remigijaus pavyzdys, lengvesnis variantas su query

moterys_2014 = d14s.query('lytis == "F"')
moteru_sk_2014 = moterys_2014['lytis'].value_counts().values[0]
vyrai_2014 = d14s.query('lytis == "M"')
vyru_sk_2014 = vyrai_2014['lytis'].value_counts().values[0]

moterys_2018 = d18s.query('lytis == "F"')
moteru_sk_2018 = moterys_2018['lytis'].value_counts().values[0]
vyrai_2018 = d18s.query('lytis == "M"')
vyru_sk_2018 = vyrai_2018['lytis'].value_counts().values[0]

moteru_sk_pokytis = moteru_sk_2018-moteru_sk_2014
vyru_sk_pokytis = vyru_sk_2018-vyru_sk_2014

print("Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis: ", moteru_sk_pokytis, "Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis: ", vyru_sk_pokytis, sep = '\n')

Apklaustų moterų 2014 ir 2018m. skaičiaus pokytis:
-1678
Apklaustų vyrų 2014 ir 2018m. skaičiaus pokytis:
-110

In [56]:
# kiek 2018 metais buvo respondentų iš kiekvienos amžiaus grupės?
# Suraskite vidutinius atlyginimus kiekvienai amžiaus grupei (2018 metams)
# hint:as for ciklas moka eiti per array vertes, kurias gausite su .index arba .values atributais

amzius = d18s['amzius'].value_counts()
# 50-59    10056
# 40-49     9421
# 14-29     9368
# 30-39     9282
# 60+       5037
amzius.head()

amz = ['14-29', '30-39', '40-49', '50-59', '60+']

for amzius in amz:
    grupes = d18s.query('amzius == @ amzius')
    vidutinis_atlyginimas = grupes['bdu_spalio'].mean()
    print('Amžiaus grupė: ', amzius, ' vidutinis atlyginimas: ',vidutinis_atlyginimas)

# amzius_14_29 = d18s.query('amzius == "14-29"')
# amzius_14_29_vid_atl = amzius_14_29['bdu_spalio'].mean()

# amzius_30_39 = d18s.query('amzius == "30-39"')
# amzius_30_39_vid_atl = amzius_30_39['bdu_spalio'].mean()

# amzius_40_49 = d18s.query('amzius == "40-49"')
# amzius_40_49_vid_atl = amzius_40_49['bdu_spalio'].mean()

# amzius_50_59 = d18s.query('amzius == "50-59"')
# amzius_50_59_vid_atl = amzius_50_59['bdu_spalio'].mean()

# amzius_60plius = d18s.query('amzius == "60+"')
# amzius_60plius_vid_atl = amzius_60plius['bdu_spalio'].mean()

# print("Vidutinis atlyginimas amziaus grupeje 14-29: ", amzius_14_29_vid_atl, "Vidutinis atlyginimas amziaus grupeje 30-39: ", amzius_30_39_vid_atl, "Vidutinis atlyginimas amziaus grupeje 40-49: ", amzius_40_49_vid_atl, "Vidutinis atlyginimas amziaus grupeje 50-59: ", amzius_50_59_vid_atl, "Vidutinis atlyginimas amziaus grupeje 60+: ", amzius_60plius_vid_atl, sep='\n')

Amžiaus grupė:  14-29  vidutinis atlyginimas:  865.5633005977796
Amžiaus grupė:  30-39  vidutinis atlyginimas:  1088.9557207498383
Amžiaus grupė:  40-49  vidutinis atlyginimas:  980.8554293599406
Amžiaus grupė:  50-59  vidutinis atlyginimas:  856.0671241050119
Amžiaus grupė:  60+  vidutinis atlyginimas:  784.542386341076

In [36]:
# Palyginkite, kiek procentais daugiau uždirbo vyrai už moteris 2018 metais?
# Kiek procentais vyrai uždirba daugiau, nei bendras atlyginimų vidurkis?
# Kiek procentais moterys uždirba mažiau, nei bendras atlyginimų vidurkis?
# imkite bdu_spalio


atlyginimu_skirtumas= 100-((d18s.query('lytis == "F"')['bdu_spalio'].mean()/d18s.query('lytis == "M"')['bdu_spalio'].mean())*100)
print("Vyrai 2018m. už moteris uždirbo ",atlyginimu_skirtumas," % didesį atlyginimą", '\n')

proc_moteru = 100-((d18s.query('lytis == "F"')['bdu_spalio'].mean()/d18s['bdu_spalio'].mean())*100)
print("Moterys uždirbo ",proc_moteru,"% mažiau palyginus su bendru atlyginimų vidurkiu", '\n')

proc_vyru = ((d18s.query('lytis == "M"')['bdu_spalio'].mean()/d18s['bdu_spalio'].mean())*100)-100
print(f'{'Vyrai uždirbo'} {proc_vyru} % {' daugiau palyginus su bendru atlyginimų vidurkiu.'}')

Vyrai 2018m. už moteris uždirbo  17.974370561948064  % didesį atlyginimą

Moterys uždirbo  10.241785240496327 % mažiau palyginus su bendru atlyginimų vidurkiu

Vyrai uždirbo 9.427035640478195 %  daugiau palyginus su bendru atlyginimų vidurkiu.

In [48]:
# Nuskaitykite aruodas.csv failą
# Pridėkite prie DataFrame'o naują stulpelį "KainaS", kur būtų skaičiai (float'ai) iš stulpelio "€/S"
# tam panaudokite savo sukurtą funkciją, kuri tekstą verstų į float'us
# bei .apply() metodą
# Suraskite vidutinę kv. m. kainą.
#dar hint'ų - su .values gaunate array, jam, kaip ir standartiniam list'ui, galima taikyti indeksavimą []
# Suraskite, kiek buvo pigių, kiek buvo brangių butų (mažiau už vidutinę
# kainą, daugiau nei vidutinė kaina)
# Suraskite vidutinį butų plotą.

In [46]:
# Nuskaitykite aruodas.csv failą

aruodas = pd.read_csv('aruodas.csv')
aruodas.head()

,Unnamed: 0,Linkas,Adresas,Kaina,€/S,Aukštas,Plotas,Kambariai
0,0,https://www.aruodas.lt/butai-vilniuje-lazdynel...,"Lazdynėliai, Žaibo g.",155 000 €,3690€/m²,4/4,42.00,2
1,1,https://www.aruodas.lt/butai-vilniuje-pasilaic...,"Pašilaičiai, Pavilnionių g.",125 880 €,2977€/m²,4/4,42.28,2
2,2,https://www.aruodas.lt/butai-vilniuje-lazdynel...,"Lazdynėliai, Žaibo g.",166 000 €,3773€/m²,2/4,44.00,2
3,3,https://www.aruodas.lt/butai-vilniuje-pasilaic...,"Pašilaičiai, Perkūnkiemio g.",109 900 €,3283€/m²,7/12,33.48,1
4,4,https://www.aruodas.lt/butai-vilniuje-pilaitej...,"Pilaitė, Pilkalnio g.",137 000 €,3703€/m²,4/4,37.00,2

In [47]:
# Pridėkite prie DataFrame'o naują stulpelį "KainaS", kur būtų skaičiai (float'ai) iš stulpelio "€/S"
# tam panaudokite savo sukurtą funkciją, kuri tekstą verstų į float'us
# bei .apply() metodą

def float_kaina(kaina):
    be_eur = float(kaina[:-4])
    return be_eur

aruodas['KainaS'] = aruodas['€/S'].apply(float_kaina)
aruodas.head()

,Unnamed: 0,Linkas,Adresas,Kaina,€/S,Aukštas,Plotas,Kambariai,KainaS
0,0,https://www.aruodas.lt/butai-vilniuje-lazdynel...,"Lazdynėliai, Žaibo g.",155 000 €,3690€/m²,4/4,42.00,2,3690.0
1,1,https://www.aruodas.lt/butai-vilniuje-pasilaic...,"Pašilaičiai, Pavilnionių g.",125 880 €,2977€/m²,4/4,42.28,2,2977.0
2,2,https://www.aruodas.lt/butai-vilniuje-lazdynel...,"Lazdynėliai, Žaibo g.",166 000 €,3773€/m²,2/4,44.00,2,3773.0
3,3,https://www.aruodas.lt/butai-vilniuje-pasilaic...,"Pašilaičiai, Perkūnkiemio g.",109 900 €,3283€/m²,7/12,33.48,1,3283.0
4,4,https://www.aruodas.lt/butai-vilniuje-pilaitej...,"Pilaitė, Pilkalnio g.",137 000 €,3703€/m²,4/4,37.00,2,3703.0

In [56]:
# Suraskite vidutinę kv. m. kainą.
# dar hint'ų - su .values gaunate array, jam, kaip ir standartiniam list'ui, galima taikyti indeksavimą []

vidutine_kvm_kaina = aruodas['KainaS'].mean()
print(f'{'Vidutinė kvadratinio m. kaina: '} {vidutine_kvm_kaina}')

Vidutinė kvadratinio m. kaina:  3301.46678555506

In [100]:
# Suraskite, kiek buvo pigių, kiek buvo brangių butų (mažiau už vidutinę
# kainą, daugiau nei vidutinė kaina)

def float_buto_kaina(kaina):
    be_eur = float(kaina[:-2].replace(' ', ''))
    return be_eur

aruodas['Kaina_be_Eur'] = aruodas['Kaina'].apply(float_buto_kaina)

def pigus_brangus(KainaS):
    if KainaS  <= aruodas['KainaS'].mean():
        return "pigus"
    else:
        return "brangus"

aruodas['Pigus_brangus'] = aruodas['KainaS'].apply(pigus_brangus)
aruodas.head()

pigus_butai = aruodas['Pigus_brangus'].value_counts()
print(f'{pigus_butai}')

Pigus_brangus
pigus      1283
brangus     960
Name: count, dtype: int64

In [107]:
# Suraskite vidutinį butų plotą.
aruodas.head()

vidutinis_plotas = aruodas['Plotas'].mean()
print(f'{'Vidutinis buto plotas yra: '} {vidutinis_plotas} {' kv.m.'}')

Vidutinis buto plotas yra:  60.41541685242979  kv.m.

In [122]:
# Suraskite vidutinį pigaus ir brangaus buto plotą.
# aruodas.head()
pigiu_butu_vid_plotas = aruodas.query('Pigus_brangus == "pigus"')['Kaina_be_Eur'].mean()
brangiu_butu_vid_plotas = aruodas.query('Pigus_brangus == "brangus"')['Kaina_be_Eur'].mean()

print(f'{'Pigių butų vidutinis plotas yra:'} {pigiu_butu_vid_plotas} {'Eur.'}{'\n'}{'Brangių butų vidutinis plotas yra:'} {brangiu_butu_vid_plotas} {'Eur.'}')

Pigių butų vidutinis plotas yra: 135574.9041309431 Eur.
Brangių butų vidutinis plotas yra: 299677.7625 Eur.

In [27]:
# AUTO.CSV failas:
# Raskite vidutinę kainą, ridą visiems automobiliams bei atskirai šiems: BMW, Audi, Toyota, Vokswagen, Ford.
# Suskirstykite automobilius pagal santykį su vidutine kaina:
# < 0.75 avg - pigūs
# 0.75 iki 1.15 avg - vidutiniai, 
# > 1.15 avg - brangūs
# Kiek kiekvienoje grupėje buvo tokių auto?
# tai vizualizuokite su bar 

auto = pd.read_csv('auto.csv', sep='|')
auto_small = auto[['gamintojas', 'rida', 'price']]
auto_small.head()

   gamintojas        rida   price
0         BMW  253 000 km  19 500
1  Mitsubishi  195 405 km   2 700
2        Seat  129 800 km  13 490
3       Skoda  183 000 km  14 650
4       Volvo  127 896 km  38 000

In [55]:
# Suskirstykite automobilius pagal santykį su vidutine kaina:
# < 0.75 avg - pigūs
# 0.75 iki 1.15 avg - vidutiniai, 
# > 1.15 avg - brangūs

def automobilio_kaina(eur):
     if eur < auto_small['price'].mean()*0.75:
          return "pigus"
     elif eur > auto_small['price'].mean()*0.75 and eur < auto_small['price'].mean()*1.15:
          return "vidutinis"
     else:
          return "brangus"

auto_small['Price_range'] = auto_small['price'].apply(automobilio_kaina)
auto_small.head()

TypeError: Could not convert string '19 5002 70013 49014 65038 0001 2008 00011 99016 19016 49028 90042 5002 0003 3903 7503 8004 2005 5005 5906 2006 5007 1007 3007 5009 60011 90014 00014 99515 50019 70026 50028 50028 90029 50030 99932 00035 00037 0001 2702 9002 9502 9503 2503 7004 2504 3504 9005 8006 4008 0008 2508 9008 9009 5509 79010 00010 49011 30011 60012 90012 99016 80017 15018 39018 99519 90021 00021 69021 90022 25032 00045 800100 0001 1501 3001 4801 6001 7001 7501 9501 9992 0002 0002 1902 2502 4982 4992 5502 7002 7502 7502 8503 2003 5003 5503 6003 7003 7003 9004 0004 1504 2004 2904 3504 3504 4504 5004 5004 5004 7004 8004 9005 1005 6005 7955 8005 9006 0006 1506 2006 4006 5006 5006 6006 7006 9997 0007 0007 3007 3507 3507 5008 0008 0008 2008 2908 4508 4508 9009 0009 0009 5009 50010 00010 29510 45010 50010 79010 80011 00011 00011 00011 19011 20011 30011 40011 50011 60011 80011 90012 00012 44412 50012 50012 50013 00013 10013 19013 30013 40013 45013 95013 95014 00014 00014 20014 30014 40014 49014 50014 55014 79014 95015 00015 90016 90016 95017 80017 80018 60019 40019 90019 90020 10020 80021 80022 10022 50022 60023 50024 90025 00025 10025 10026 00026 05029 90031 50031 50033 80034 80034 90037 00038 75040 00041 32142 99949 95055 90096 499111 000145 0003503804505505505505906006006006006506507007007007007007007007307508008008508508508508508908999009009009009499509509509909991 0001 0001 0001 0001 0001 0001 0001 0501 0501 0501 1001 1001 1001 1501 1501 1501 1501 2001 2001 2001 2001 2001 2001 2001 2001 2001 2501 2501 2501 2501 2501 2501 2801 2851 2901 3001 3001 3001 3001 3001 3001 3491 3501 3501 3501 3501 3501 3501 3991 4001 4451 4501 4991 4991 4991 5001 5001 5001 5001 5001 5501 5501 5501 5501 5501 5501 5501 6001 6001 6001 6001 6001 6501 6501 6901 7001 7001 7001 7001 7001 7001 7001 7001 7001 7501 7501 7991 8001 8001 8001 8001 8001 8001 8001 8001 8001 8501 8501 8501 8501 8991 9001 9001 9001 9001 9001 9001 9201 9501 9501 9501 9501 9501 9901 9991 9991 9992 0002 0002 0002 0002 0002 0002 0002 0002 0002 0002 0002 0002 1002 1002 1002 1002 1002 1002 1502 1502 1502 1502 2002 2002 2002 2002 2002 2002 2002 2002 2002 2222 3002 3002 3002 3002 3502 3502 3502 3502 3992 3992 4002 4002 4002 4002 4002 4002 4002 4002 4002 4492 4502 4502 4502 4502 4502 4502 5002 5002 5002 5002 5002 5002 5002 5002 5002 5002 5002 5002 5002 5002 5502 5502 5502 5502 6002 6002 6002 6002 6002 6002 6502 6502 6502 6502 6502 6502 6502 6992 6992 7002 7002 7002 7002 7002 7002 7502 7502 7502 7502 7802 8002 8002 8002 8002 8002 8002 8002 8002 8002 8502 8502 8502 8502 8502 9002 9002 9002 9002 9002 9502 9502 9502 9502 9502 9902 9992 9992 9993 0003 0003 0003 0003 0003 0003 1003 1503 1703 2003 2003 2003 2003 2003 2003 2003 2003 2503 2503 2503 2503 2903 3003 3003 3003 3003 3003 3003 3003 3003 3003 3003 3503 3503 4003 4003 4003 4003 4003 4003 4003 4503 4503 4503 4503 4803 4953 5003 5003 5003 5003 5003 5003 5003 5003 5003 5003 5003 5003 5503 5503 6003 6003 6003 6003 6003 6003 6003 6403 6503 6503 6503 6503 7003 7003 7003 7003 7503 7503 7503 7503 7503 8003 8003 8003 8003 8003 8503 8503 8503 9003 9003 9003 9003 9003 9003 9003 9003 9003 9503 9503 9903 9903 9903 9993 9993 9994 0004 0004 0004 0004 0004 0004 0004 0004 0004 0004 0504 0504 0504 1004 1004 1004 1004 1504 1994 2004 2004 2004 2004 2004 2004 2504 2504 2504 2504 2904 2994 3004 3004 3004 3004 3004 3504 3994 4004 4004 4004 4504 4504 5004 5004 5004 5004 5004 5004 5004 5004 5004 5504 6004 6004 6504 7004 7504 7504 8004 8004 8004 8004 8004 8004 8004 8004 8004 8504 8504 8504 9004 9004 9004 9004 9004 9004 9004 9004 9004 9504 9504 9504 9504 9994 9994 9995 0005 0005 0005 0005 0005 0005 0005 0005 0005 1005 2005 2005 2005 2005 2005 2005 3005 3005 3505 3505 3505 4005 4005 4995 5005 5005 5005 5005 5005 5005 5005 5005 5005 6005 6005 6005 6005 6505 6505 6505 6505 6505 6605 7005 7005 7005 7005 7005 7505 7505 7995 7995 8005 8005 8005 8505 8505 8505 8905 9005 9005 9005 9005 9005 9996 0006 0006 0006 0006 0996 1006 1006 1006 1506 1506 2006 2006 2006 2006 2006 3006 3006 3006 3006 3996 3996 4006 4006 4006 4006 4006 4006 4506 4996 5006 5006 5006 5006 5006 5006 5006 5006 5006 5006 5006 5006 5006 5006 5506 6006 6506 6506 6506 7006 7006 7006 7996 9006 9006 9506 9997 0007 0007 0507 1007 1907 2007 2007 2007 2007 2007 2507 2997 2997 3007 3007 4007 4007 4007 4997 5007 5007 5007 5007 5007 5007 5507 6007 6007 6507 6997 7007 7007 7007 8007 8007 8007 8507 8907 9007 9007 9007 9007 9508 0008 0008 0008 0008 0008 1008 2008 2008 2008 2008 2008 3008 2008 2008 2008 3008 3008 4008 4008 5008 5008 5008 5008 5008 5008 5008 5998 6008 7008 7008 7508 8008 8008 8008 8508 8508 9008 9008 9008 9008 9008 9999 0009 0009 1009 1999 2009 2009 2009 2509 3009 3009 3509 4009 4009 4909 4999 5009 5009 5009 5009 5009 6009 6009 6509 6509 7009 7009 7009 7009 7509 8009 8009 8009 8009 8509 8609 9009 9009 9009 9509 9509 9709 9909 9909 9999 99910 00010 20010 20010 20010 2508 3002 75019 5002 70013 49014 65017 20023 30038 0001 2002 1507 6998 00011 25011 99016 19016 49028 90042 5002 0003 3903 8004 2004 4445 5005 5906 1006 2006 5006 9907 5009 60011 90014 00014 99515 19918 99923 00028 50029 50029 50030 99932 00035 00037 00074 9501 0501 2701 5001 6001 8502 6002 8002 9503 7003 7504 2504 9005 7505 8006 4006 4507 9008 9009 79010 00010 49010 90010 90011 60012 80012 99013 15016 15016 80017 15017 90018 39019 90020 50021 90022 25032 00037 90045 800100 0009009909991 1001 2981 4001 6001 8001 9002 0002 0002 1502 1502 2502 4992 5002 7002 7502 8502 9953 0003 0003 0003 5003 7003 7003 7993 9004 0004 0004 1004 2004 2904 3504 7004 8004 8004 8504 8504 9505 2505 4005 4505 5005 8005 9005 9006 0006 2006 4006 4006 5006 5006 5006 6996 9007 3007 3507 4008 2008 2908 4508 4508 5908 9009 0009 0009 0009 5009 50010 40010 70010 79011 00011 19011 20011 30011 80011 80011 90012 44412 50012 50012 50013 00013 10013 19013 30013 33313 95013 95013 95014 00014 30014 49014 50014 50014 55014 79014 95015 45016 40016 90016 95017 00017 30017 50017 50017 50017 80017 80017 90018 00018 40018 60019 00019 40019 70019 90020 70020 80020 95021 90022 50022 60023 40023 50023 50023 70024 30025 00026 00026 50027 50029 90031 50033 80034 80034 90036 80037 00038 75040 00042 99942 99945 50049 95055 90096 499111 000145 0003804505005906006006006006506506907007007007007007307507908008008008008999009009009509509909999991 0001 0001 0001 0001 0501 0501 1001 1001 1001 1001 1501 1501 1901 2001 2001 2001 2001 2001 2001 2001 2001 2001 2001 2501 2501 2501 2501 2851 2901 3001 3001 3001 3001 3001 3001 3001 3491 3501 3501 3501 3501 3991 4001 4001 4501 4501 4991 5001 5001 5001 5001 5001 5501 5501 5501 5501 5501 6001 6001 6001 6001 6501 6501 6501 6501 7001 7001 7001 7001 7001 7001 7001 7501 7501 7991 8001 8001 8001 8001 8001 8001 8501 8501 8501 8501 9001 9001 9001 9001 9001 9001 9001 9201 9501 9501 9501 9501 9501 9501 9801 9992 0002 0002 0002 0002 0002 0002 0002 0002 0002 0002 0002 0502 1002 1002 1002 1002 1002 1002 1002 1502 1502 1502 1502 2002 2002 2002 2002 2002 2002 2002 2502 3002 3002 3002 3002 3502 3502 3502 3902 3992 3992 4002 4002 4002 4002 4002 4002 4002 4002 4002 4002 4502 4502 4502 4502 4982 4992 5002 5002 5002 5002 5002 5002 5002 5002 5002 5002 5002 5502 5502 5502 5502 5992 6002 6002 6002 6002 6002 6002 6002 6502 6502 6502 6502 6502 6502 6502 7002 7002 7002 7002 7502 7502 7502 7502 7502 7992 8002 8002 8002 8002 8002 8002 8002 8002 8002 8502 8502 8502 8502 9002 9002 9002 9502 9502 9502 9992 9992 9993 0003 0003 0003 0003 0003 0003 0003 1003 1003 1003 2003 2003 2003 2003 2003 2003 2003 2003 2003 2003 2003 2003 2003 2503 2503 2503 3003 3003 3003 3003 3003 3003 3503 3503 4003 4003 4003 4003 4003 4003 4003 4503 4503 4503 4503 4803 4953 4993 4993 5003 5003 5003 5003 5003 5003 5003 5003 5003 5003 5003 5003 5003 5503 5503 5993 6003 6003 6003 6003 6003 6003 6403 6503 6503 7503 7503 7503 7503 8003 8003 8003 8003 8503 8503 8503 8503 9003 9003 9003 9003 9003 9003 9003 9003 9003 9003 9503 9503 9503 9503 9903 9993 9993 9994 0004 0004 0004 0004 0004 0004 0004 0004 0004 0004 0504 0504 0504 0994 1004 1004 1004 2004 2004 2004 2004 2004 2504 2504 2504 2504 2504 2504 2504 2504 2904 2904 2994 3004 3004 3004 3004 3004 3004 3504 3504 3994 4004 4004 4004 4004 4504 4504 4504 5004 5004 5004 5004 5004 5004 5004 5004 5504 5504 6004 6004 6004 6004 6004 6004 6004 6004 6504 6994 7004 7504 7504 7904 8004 8004 8004 8004 8004 8004 8004 8004 8004 8004 8004 8004 8504 8504 8904 9004 9004 9004 9004 9004 9004 9004 9004 9004 9004 9004 9504 9504 9504 9504 9994 9994 9994 9994 9994 9995 0005 0005 0005 0005 0005 0005 0005 0505 1005 2005 2005 2005 2005 2005 2005 2005 2505 3005 3005 3005 3005 3005 3505 3505 3505 3505 3505 3505 3995 4005 4505 5005 5005 5005 5005 5005 5005 5005 5005 5005 6005 6005 6005 6505 6505 6605 7005 7005 7005 7005 7505 7505 7995 8005 8005 8005 8005 8005 8005 8005 8505 8505 8505 8905 9005 9005 9005 9005 9005 9005 9505 9505 9996 0006 0006 0006 0006 0006 0006 0996 1006 1006 1006 1506 2006 2006 2006 3006 3006 3006 3996 4006 4006 4006 4006 4006 4506 5006 5006 5006 5006 5006 5006 5006 5006 5006 5006 5006 5506 6506 7006 7006 7006 7996 8006 9006 9006 9006 9006 9006 9006 9907 0007 0007 0007 0007 0007 1007 1007 2007 2007 2507 2507 2997 2997 3007 3007 4007 4007 4997 5007 5007 5007 5007 5007 5007 5007 5007 5007 5007 6007 6007 6997 7007 7007 7007 7007 7507 7507 8007 8007 8007 8007 8507 8907 9007 9007 9507 9998 0008 0008 0008 0008 0508 1008 2008 2008 2008 2008 2508 2998 3008 3008 4008 5008 5008 5008 5008 5008 5008 5008 5008 5008 6008 7008 7008 7008 8008 8008 8008 8008 8508 9008 9008 9008 9008 9508 9508 9508 9999 0009 0009 0009 1009 1999 2009 2009 2009 2509 3009 3009 3009 3009 3509 4009 4909 4999 5009 5009 5009 5009 5009 6009 6009 6509 6999 7009 7009 7009 8009 8009 8609 9009 9009 9509 9909 9909 99910 20010 20010 25010 40010 40010 49910 50010 50010 50010 50010 50010 50010 50010 50010 60010 65010 70010 70010 90010 90010 95010 99011 00011 00011 00011 00011 00011 19911 20011 35011 40011 50011 50011 50011 50011 50011 50011 50011 50011 50011 50011 60011 70011 80011 85011 90011 90011 99011 99912 00012 00012 00012 00012 00012 05012 10012 20012 20012 20012 20012 30012 40012 49912 50012 50012 50012 60012 70012 75012 80012 85012 85012 86012 90012 90012 99913 00013 00013 00013 20013 35013 40013 45013 50013 50013 50013 50013 50013 55013 60013 65013 65013 65013 69913 70013 70013 70013 70013 86013 90013 99913 99914 00014 00014 10014 20014 20014 20014 20014 30014 40014 40014 44014 45014 50014 52014 55014 60014 60014 69014 70014 80014 90014 90014 99914 99915 00015 00015 20015 20015 20015 30015 50015 50015 55015 65015 78015 90015 90015 99916 00016 00016 00016 00016 10016 30016 30016 40016 50016 50016 50016 50016 70016 75016 75016 80016 85016 85016 90016 90016 99917 20017 25017 45017 50017 50017 80017 80017 85017 90017 80017 80017 85017 90017 99918 00018 00018 20018 20018 20018 25018 30018 49918 50018 50018 60018 90018 99019 00019 00019 39019 40019 50019 50019 50019 60019 70019 80019 90019 90019 99919 99920 00021 00021 50021 50021 80021 80021 95022 00022 00022 00022 00022 30022 50022 60022 90022 90022 95023 00023 00023 20023 40023 40023 49923 55023 60023 65023 80024 00024 20024 50024 50024 59024 80024 90024 90024 90025 00025 00025 00025 50025 90025 90025 90026 00026 00026 50026 50026 59526 69026 80026 90026 99927 20027 40027 49027 50027 50027 80028 00028 20028 50028 99928 99929 00029 80029 80029 80029 90029 99930 50030 50032 22232 22332 50032 50032 50032 90032 90032 80833 50033 70033 90034 00034 85034 90034 95034 99035 00034 99035 00035 20035 52835 90035 90036 00036 35536 90037 00037 50038 50038 50038 72039 70039 99940 48040 99040 99041 70041 90042 50044 00044 90045 35046 85049 60049 90052 50052 90054 00056 00056 00056 80057 50059 00060 00062 30067 00085 00088 00088 80092 000108 000122 900125 0001503003004004004504905005005005005006006006006206807507507507507507507507508008008008508508809009009509901 0001 0001 0001 0001 0001 0001 0001 0001 0001 0501 0501 0501 1001 1001 1001 2001 2001 2501 2991 2991 3001 3001 3501 3501 3501 3501 3501 3991 4501 4501 4501 4501 4501 4501 4501 4991 5001 5001 5001 5001 5001 5001 5001 5501 5501 5501 5501 5501 5501 5501 5501 6001 6001 6001 6001 6001 6501 6501 6501 6501 7001 7501 7501 7501 7501 7991 7991 8001 8001 8001 8001 8001 8501 8501 8501 8501 9001 9001 9001 9001 9001 9501 9501 9501 9501 9991 9992 0002 0002 0002 0002 0002 0002 0002 0002 0002 0992 1002 1002 1002 1002 1002 1002 1002 1002 1502 1992 1992 2002 2002 2002 2002 2002 2002 2502 2502 2502 2502 250' to numeric

In [ ]:
# Kiek kiekvienoje grupėje buvo tokių auto?
# tai vizualizuokite su bar

In [65]:
# NYPD failas:
# Su vizualizacija:
# Kurios valandos, kurie paros metai buvo pavojingiausi susišaudymų prasme?
# A) Kuriose valandose mirtinų susišaudymų kiekis buvo didžiausias?
# B) Kuriose valandose procentinis mirtinų susišaudymų kiekis yra didžiausias?
# Ar A ir B valandos sutampa, arne?

nypd = pd.read_csv('NYPD_Shooting.csv', sep=';', parse_dates=['OCCUR_DATE', 'OCCUR_TIME'])
nypd.head()

C:\Users\Dovydaiciai\AppData\Local\Temp\ipykernel_11328\2905881158.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nypd = pd.read_csv('NYPD_Shooting.csv', sep=';', parse_dates=['OCCUR_DATE', 'OCCUR_TIME'])

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,Latitude,Longitude
0,201575314,2019-08-23,2024-04-12 22:10:00,QUEENS,103,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,40.697805,-73.808141
1,205748546,2019-11-27,2024-04-12 15:54:00,BRONX,40,0.0,NaN,False,<18,M,BLACK,25-44,F,BLACK,40.818700,-73.918571
2,193118596,2019-02-02,2024-04-12 19:40:00,MANHATTAN,23,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK HISPANIC,40.791916,-73.945480
3,204192600,2019-10-24,2024-04-12 00:52:00,STATEN ISLAND,121,0.0,PVT HOUSE,True,25-44,M,BLACK,25-44,F,BLACK,40.638064,-74.166108
4,201483468,2019-08-22,2024-04-12 18:03:00,BRONX,46,0.0,NaN,False,25-44,M,BLACK HISPANIC,18-24,M,BLACK,40.854547,-73.913339

In [15]:
# Kurios valandos, kurie paros metai buvo pavojingiausi susišaudymų prasme?

# Pavojingiausios valandos

nypd = pd.read_csv('NYPD_Shooting.csv', sep=';', parse_dates=['OCCUR_TIME']) # isparsinu data ir laika
nypd['HR']= nypd['OCCUR_TIME'].dt.round('H').dt.hour
nypd.head(3)

nypd['HR'].value_counts().sort_index(ascending=True)

C:\Users\Dovydaiciai\AppData\Local\Temp\ipykernel_16732\1752364377.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nypd = pd.read_csv('NYPD_Shooting.csv', sep=';', parse_dates=['OCCUR_TIME']) # isparsinu data ir laika
C:\Users\Dovydaiciai\AppData\Local\Temp\ipykernel_16732\1752364377.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  nypd['HR']= nypd['OCCUR_TIME'].dt.round('H').dt.hour

HR
0     1973
1     1666
2     1703
3     1256
4     1492
5      781
6      396
7      195
8      166
9      170
10     219
11     219
12     351
13     381
14     536
15     651
16     787
17     738
18    1004
19     911
20    1392
21    1327
22    1726
23    1586
Name: count, dtype: int64

In [23]:
# Pavojingiausias paros laikas
nypd['Hour']= nypd['OCCUR_TIME'].dt.hour
nypd.head()

def paros_laikas(Hour):
    if Hour > 6 and Hour < 11:
         return "rytas"
    elif Hour >= 12 and Hour < 17:
         return "diena"
    elif Hour >= 18 and Hour < 22:
         return "vakaras"
    else: 
         return"naktis"
    
nypd['Paros laikas'] = nypd['Hour'].apply(paros_laikas)
nypd.head()

nypd['Paros laikas'].value_counts().sort_index(ascending=True)

Paros laikas
diena       2892
naktis     13023
rytas        742
vakaras     4969
Name: count, dtype: int64

In [ ]:
#Su life-exp.csv:
#atrinkite su .query() į naują lentelę tik 2019 metų duomenis.
# Toliau naudojama tik naujoji lentelė
# Suraskite vidutinę gyvenimo trukmę
# Suskirstykite valstybes į ilgaamžes ir ne
# jei gyvenimo trukmė mažiau nei vidurkis - neilgaamžė
# jei didesnė - ilgaamžė.
# Kiek buvo valstybių ilgaamžių, neilgaamžių?

#Su Dar su life-exp.csv:
#Nuskaitykite failą
#Suraskite vidutinę, minimalią, maksimalią gyvenimo trukmę Lietuvai, 
# Latvijai, Švedijai, Vokietijai
# Padarykite, jog vartotojas galėtų įvesti, kokios šalies
# duomenis reikia išvesti
#Bonus - .plot() vizualizacija tokių duomenų:
# gyvenimo trukmė kiekvienais metais Lietuvai ir vartotojo įvestai šaliai